/*Backgound Style*/
html {
 background-color: grey;
 font-size: 16px;
 font-family:Arial, Helvetica, sans-serif;
}
/*Content Styles*/
 header {
  display: flex;
  width: 100%;
  height: auto;
  font-size: 3rem;
  color: grey;
  justify-content: center;
  text-align: center;
  background-color: blue;
  margin: 0 0;
  padding: 0 0;
  border: 2px solid burlywood;
  transition: color 800ms linear 200ms, background-color 1.2s linear 200ms;
 }

  header:hover {
   color: blue;
   background-color: grey;
  }
 /*Naviation*/
 .nav li{
  color: blue;
  background-color: lightgray;
  font-size: 1.5rem;
  display: inline;
 }

 .nav li+li::before{
  padding: 5px;
  content:"<=>";
 }
 /*article*/
  article {
   background-color: lightgrey;
   font-size: 1.5rem;
   border: 10px ridge yellow;
  }

  article .ICont {
   display: grid;
   grid-template-columns: 1fr 1fr;
   border: 10px groove greenyellow;
  }

  article .ImgA, article .ImgB {
   display: flex;
   width: 100%;
   height: auto;
   border: 5px solid blue;
  }

  article .ImgA:hover {
   cursor: pointer;
   box-shadow: 5px 5px 15px 0px rgba(30, 0, 150, 0.20);
  }

  figure {
   border: 5px ridge grey;
   background-color: lightblue;
  }

  figure h3 {
   font-size: 2rem;
   font-family:'Times New Roman', Times, serif;
   text-align: center;
   }

  figure a {
   font-size: 1.2rem;
   color: blue;
   transition: font-size 800ms ease-in 200ms, color 800ms ease-in 200ms;
  }

  figure a:hover {
   font-size: 1.3rem;
   color: lightblue;
   cursor: pointer;
  }

  figure button {
    cursor: pointer;
  }

  figure button:hover {
    box-shadow: 8px 8px 4px 4px lightblue;
  }

  figure button:active {
    background-color: lightgreen;
  }

  table {
   border: 5px groove black;
  }

  table th #headDEc {
    font-size: 1.7rem;
    border: 5px groove lightgray;
    color: lightgray;
    background-color: darkblue;
  }


  table th #rowDec {
   font-size: 1.5rem;
   border: 5px ridge black;
   color: yellow;
   background-color: black;
  }


  table td {
   font-size: 1.2rem;
   border: 3px solid black;
   color: black;
   background-color: white;
  }

  table td #EXA {
    color: lightgreen;
    background-color: black;
  }

  /*Footer*/

  footer .MoreLinks {
    background-color: lightgray;
    display: grid;
    width: 100%;
    height: auto;
    grid-template: minmax(100px, 1fr) / 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  footer .MoreLinks LA, footer .MoreLinks LB, footer .MoreLinks LC, footer .MoreLinks LD {
    font-size: 1.5rem;
    color: blue;
    transition: font-size 800ms ease-in 200ms, color 800ms ease-in 200ms;
    border: 5px groove blue;
    background-color: lightgray;
    text-decoration: underline;
  }

  footer .MoreLinks LA:visited, footer .MoreLinks LB:visited, footer .MoreLinks LC:visited, footer .MoreLinks LD:visited {
    color: lightblue;
  }

  
  footer .MoreLinks LA:hover, footer .MoreLinks LB:hover, footer .MoreLinks LC:hover, footer .MoreLinks LD:hover {
    color: lightgreen;
    text-decoration: none;
  }

  footer .MoreLinks LA:active, footer .MoreLinks LB:active, footer .MoreLinks LC:active, footer .MoreLinks LD:active {
    background-color: lightgreen;
    color: red;
  }