/*mobile modifications*/
@media only screen and (max-width: 480px) {
 header {
 width: 100%;
 font-size: 1rem;
 }
 nav {
 width: 20%;
 }
 nav img {
  width: 50%;
  height: auto;
 }
 article .cont {
  font-size: 0.8rem;
 }
}
/*laptop and tablets modifications*/
@media only screen and (min-width: 481px) and (max-width: 1024px) {
 header {
 width: 100%;
 font-size: 2rem;
 }
 nav {
  width: 25%;
 }
 nav img {
  width: 75%;
  height: auto;
 }
 article .cont {
  font-size: 1.2rem;
 }
}

/*Desktops and large screens*/
html {
 background-color: hsl(200,50%,80%);
 font-size: 16px;
}

header {
 display: flex;
 width: 60%;
 height: auto;
 font-size: 3rem;
 background-color: lightcoral;
 border: 5px solid black;
 text-align: center;
 font-family:'Times New Roman', Times, serif;
}

nav {
 display: inline-flex;
 width: 35%;
 height: auto;
 position: fixed;
 top: 0px;
 right: 0px;
 text-align: end;
 background-color: hsl(200, 55%, 55%);
 border: 5px solid black;
 z-index: 5;
}

 article {
  display: flex;
  width: 100%;
  height: auto;
  border: 5px solid black;
 }

 article .cont {
  display: grid;
  width: 100%;
  grid-template: repeat(4, 150px)/1fr 1fr;
  gap: 5px;
  background-color: hsl(200, 95%, 65%);
  font-size: 1.5rem;
  border: 10px ridge black;
 }

 article .A {
  grid-area: 1/1/span 2/span 2;
  border: 5px solid black;
  align-self: stretch;
  justify-self: stretch;
 }

 article .B {
  grid-area: 3/1/span 2/span 1;
  border: 5px solid black;
  align-self: stretch;
  justify-self: stretch;
 }
 

 article .C {
  grid-area: 3/2/span 2/span 1;
  border: 5px solid black;
  align-self: stretch;
  justify-self: stretch;
 }

